:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 500ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  margin: 10px;
  border-radius: 15px;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__image {
  width: 300px;
  height: 200px;

  border-radius: 15px;
}

.info {
  display: flex;
  justify-content: space-evenly;
  width: 300px;

  font-size: 10px;
  text-align: center;

  background-color: #fff;
  border-radius: 15px;
}
